.marketing {
    h4 {
        color: $brand-warning; 
    }
    a {
    	color: $brand-danger;
    }
}

.jumbotron {
	h1 {
		color: $brand-warning;
	}
}

.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}

@mixin red {
  color: red;
}

.marketing { @include red; }